<%- include("partials/header.ejs") -%>
<div id="loading"></div>
<div class="home">
  <h1>Welcome to Slideshow...</h1>
  <h2>Start managing files to be displayed.</h2>
  <h3>Checkout menu bar to get started.</h3>
</div>
<%- include("partials/footer.ejs") -%>
