<%- include("partials/header.ejs") -%>
<div id="loading"></div>
<div class="home">
  <h1>Welcome to Keycloak with Node Js and EJS</h1>
  <h2>This is Un-protected page......</h2>
</div>
<%- include("partials/footer.ejs") -%>
